@font-face {
	font-family: 'Gotham Book';
	src: url('../fonts/Gotham-Book.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
  }

@font-face {
	font-family: 'Gotham Light';
	src: url('../fonts/Gotham-Light.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;	
  }

@font-face {
	font-family: 'Gotham Medium';
	src: url('../fonts/Gotham-Medium.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
  }

@font-face {
	font-family: 'Gotham Bold';
	src: url('../fonts/Gotham-Bold.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
  }  
  @font-face {
    font-family: 'Encode Medium';
    src: url('../fonts/EncodeSans-Medium.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Encode';
    src: url('../fonts/EncodeSans-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Encode Light';
    src: url('../fonts/EncodeSans-Light.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Encode Bold';
    src: url('../fonts/EncodeSans-Bold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
    } 

    @font-face {
      font-family: 'Raleway';
      src: url('../fonts/BoldRaleway.ttf')  format('truetype');
      font-weight: normal;
      font-style: normal;
      } 

      
    @font-face {
      font-family: 'Nove';
      src: url('../fonts/Novecento-Normal.otf')  format('opentype');
      font-weight: normal;
      font-style: normal;
      unicode-range: U+0030-0039;
      }

  .online-body
  {
  box-sizing:border-box;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  overflow-x:hidden;
  background-color: #ffffff;
  color: #ffffff;
  margin: 0px;
  }
 
.online-background
  {
  box-sizing:border-box;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  overflow-x:hidden;
  background-color: #ffffff;
  margin: 0px;
  }
  
  /*
  a { 
  color: inherit; 
  text-decoration:none;
  }
  
  a:hover { 
  color: inherit; 
  text-decoration: underline;
  }
  
  .score-disp-page {
	  overflow:hidden;
	  width:100%;
  }
  
  .results-page {
	  border:0px;
  }
  
  .logo-page {
	  background-color:#2f0c0c;
  }

  .fixedtop {

  }*/
  
  .online-banner {
	  background-color:#ffffff;
	  color:#000000;
	  font-family: Gotham Bold, sans-serif;
	  font-size: 22px;
    line-height: 100%;
	  text-align: left;
	  vertical-align: middle;
	  text-transform: uppercase;
    width: 100%;
  }

  .online-eventtitle {
    padding: 5px;
  }

  .online-eventlogo {
	  padding-left:0px;
	  padding-top:60px;
	  text-align: center;
	  vertical-align: middle;
  }

  .online-bannerlive {
	color:#000000;
	font-family: Gotham Book, sans-serif;
	text-align: center;
  padding-top:7px;
  padding-bottom: 7px;
  padding-left: 0px;
  padding-right: 0px;
	vertical-align: middle;
  line-height: 100%;
  text-transform: uppercase;
  font-size: 22px;
  background-color: #f1f1f1;
  width: 100%;
  margin-left:auto; 
  margin-right:auto;
}

  .online-bannercat {
	  color:#ffffff;
	  line-height:150%;
	  padding-left:5px;
	  margin-bottom:7px;
	  font-family: Gotham Medium, sans-serif;
	  font-size: 18px;
	  background:#272727;
	  text-transform: uppercase;
    float: left;
    width: 100%;
  }

  .online-roundstatus {
	  margin-bottom:5px;
    margin-top:3px;
    margin-right: 0px;
    padding-left: 5px; 
    padding-right: 5px;
	  text-transform: uppercase;
    width: 100%;
    border-collapse: collapse;
  }

  td.roundstatuslabel {
	  color:#000000;
    background-color: #ffffff;
	  text-transform: uppercase;
    font-family: Gotham Bold;
    padding: 1px;
    min-width: 60px;
    max-width: 60px;
    text-align: center;
    font-size: 10px;
  }

  td.roundstatusroundofficial {
	  color:#000000;
    font-size: 10px;
	  text-transform: uppercase;
    font-family: Gotham Bold;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
    min-width: 30px;
    text-align: center;
    line-height: 100%;
    vertical-align: bottom;
    min-width: 50px;
    max-width: 50px;
  }

  td.roundstatusroundprovisional {
	  color:#000000;
    font-size: 10px;
	  text-transform: uppercase;
    font-family: Gotham Bold;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
    min-width: 30px;
    text-align: center;
    line-height: 100%;
    vertical-align: bottom;
    min-width: 50px;
    max-width: 50px;
  }


  td.roundstatusofficial {
	  color:#ffffff;
    background-color: #409843;
	  text-transform: uppercase;
    font-family: Gotham Bold;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    vertical-align: top;
    font-size: 9px;
  }

  td.roundstatusprovisional {
	  color:#000000;
    background-color: #e8e8e8;
	  text-transform: uppercase;
    font-family: Gotham Bold;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    vertical-align: top;
    font-size: 9px;
  }
/*
  td.spacer {
    min-width: 6px;
    max-width: 6px;
  }
  
  td.spacer2 {
    min-width: 8px;
    max-width: 8px;
  }

  .bannerhead {
	  background-color: #1d1d1d;
	  padding-left:2px;
	  padding-top:2px;
	  color:#ffffff;
	  font-family: Encode Bold, sans-serif;
	  text-align: left;
	  vertical-align: middle;
	  width: 100%;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
  }

  .back {
	  color:#ffffff;
	  font-family: Encode Light, sans-serif;
	  font-size: 10px;
	  text-align: left;
	  vertical-align: middle;
	  padding-right:1px;
	  padding-top:3px;
	  width:8px;
  }
  */
  .selector {
	  color:#ffffff;
	  font-family: Encode Medium, sans-serif;
	  font-size: 12px;
    padding-bottom: 3px;
	  text-align: left;
	  vertical-align: middle;
	  padding-right:1px;
	  width:120px;
  }
  .scorebase {
	text-align: left;
	vertical-align: middle;
	padding-right:5px;
  padding-left: 7px;
	padding-top:10px;
  padding-bottom: 10px;
}
  .results-right {
	  background-color: #222222;
	  color:#ffffff;
	  font-family: Encode Light, sans-serif;
	  font-size: 25px;
	  text-align: left;
	  vertical-align: middle;
  }
  
  .comp-title {
	  color:#ffffff;
	  font-family: Encode Light, sans-serif;
	  text-transform: uppercase;
	  font-size: 35px;
	  text-align:center;
	  padding-left:15px;
	  padding-right:5px; padding-left:5px;
	  background-color:#202020;
	  width:370px;
	  border-radius: 20px;
	  -webkit-box-shadow: 10px 10px 30px 0px #320101;
	  border: 0px;
	  
  }
  .comp-group-icon {	
	  border-radius: 3px;
	  width:300px;
	  height:130px;
	  color:#ffffff;
	  background-color:#ffffff;
	  padding-left:10px;
	  padding-right:5px; padding-left:5px;
	  padding-top:0px;
	  table-layout: fixed;
	  align: right;
  }
  .holding-panel {
	  color:#ffffff;
	  font-family: Myriad Pro, sans-serif;
	  text-transform: uppercase;
	  font-size: 170px;
	  text-align:center;
	  padding-top:60px;
	  padding-left:50px;
	  padding-right:20px;
	  position:absolute;
	  width:1800px;
	  border:0px;
	  border-collapse:collapse;
  }
  
  .comp-venue {
	  color:#ffffff;
	  font-family: Myriad Pro, sans-serif;
	  font-size:35px;
	  text-align:left;
	  padding-right:20px;
	  border:0px;
  }
  
  .scores-frame { 
	  background:#ffffff;
	  margin:0;
	  padding:0;
	  overflow-x: hidden;
  }
  
  .slist-iframe {
	  margin:0;
	  padding: 0;
	  width:100%;
	  height:1000;
	  border: 0;
  }
  
  .title {		
	  color:#ffffff;
	  padding-top:5px;
	  padding-left:5px;
	  font-family:  Encode Medium, sans-serif;
	  font-size: 26px;
  }
  
  .subtitle {		
	  color:#ffffff;
	  padding-left:5px;
	  font-family: Bold, sans-serif;
	  font-size: 24px;
  }/*
  
  .scores-table {
	  font-family: Encode Light, sans-serif;
	  font-size:13px;
	  font-weight:normal;
	  color: #000000;
	  width:100%;
	  border-collapse:collapse;
  }

  .flight-table {
	  font-family: Encode Light, sans-serif;
	  font-size:15px;
	  font-weight:normal;
	  color: #000000;
	  width:100%;
	  border-collapse:collapse;
    margin-bottom: 10px;
  }
  .flight-table-head {
	  font-family: Encode, sans-serif;
	  font-size:20px;
	  font-weight:normal;
	  color: #000000;
	  width:100%;
	  border-collapse:collapse;
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: uppercase;
  }

  .start-table {
	  font-family: Encode Light, sans-serif;
	  font-size:13px;
	  font-weight:normal;
	  color: #000000;
	  width:100%;
	  border-collapse:collapse;
  }
  
  .top-name {
	  font-family: Encode Medium, sans-serif;
	  font-size:13px;
	  font-weight:normal;
	  color: #000000;
	  border-collapse:collapse;
    table-layout:fixed;
  }
  .top-name-start {
	  font-family: Encode Medium, sans-serif;
	  font-size:13px;
	  font-weight:normal;
	  color: #000000;
	  border-collapse:collapse;
    table-layout:fixed;
  }
  
  .space {
	  height:5px;
	  width:25px;
  }	
  
  .announce-table {
	  font-family: Encode Light, sans-serif;
	  font-size:10px;
	  color: #ffffff;
	  width:100%;
	  height:100%;
	  border-collapse:collapse;
  }
  
  .announce-scores {
	  font-family: Encode Light, sans-serif;
	  font-size:12px;
	  color: #ffffff;
	  border-collapse:collapse;
	  width: 100%;
  }
  
  .announce-iframe {
	  margin:0;
	  padding: 0;
	  width:100%;
	  height:100%;
	  border: 0px white solid;
  }
  
  .highlight {
  }
  
  .lowlight {
  }
  .space {
	  height:5px;
  }	
  
  .headers {
	  background-color:#ffffff;
	  line-height:160%;
  }		
  
  .name {
	  padding-top:5px;
	  padding-right:40px;
	  padding-left:40px;
	  white-space:nowrap;
    table-layout: fixed;
  }
  
  .namestartbg0 {
	  padding-top:5px;
	  padding-right:40px;
	  padding-left:40px;
	  white-space:nowrap;
    table-layout: fixed;
  }
  .namestartbg1 {
	  padding-top:5px;
	  padding-right:40px;
	  padding-left:40px;
	  white-space:nowrap;
    table-layout: fixed;
    background-color: #f6f6f6;
  }

  .scores-pos {
	  font-family: Encode Medium, sans-serif;
	  font-size:20px;
    text-align: center;
	  background-color:#e2e1e1;
    padding-top: 0px;
	  color:#000000;
    width: 50px;
    min-width: 50px;
    height: 40px;
    overflow: hidden;
    table-layout: fixed;
  }
  
  .scores-name {
    background-color:#ebebeb;
	  text-align:left;
	  padding-top:6px;
	  padding-left:7px;
	  white-space:nowrap;
	  font-weight:normal;
    table-layout: fixed;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 550px;
    min-width: 550px;
  }
  
  .scores-club {
    background-color:#ebebeb;
    text-align:left;
	  font-style:normal;
	  font-family: Encode Light, sans-serif;
	  padding-left:7px;
	  padding-bottom:8px;
	  white-space:nowrap;
    table-layout: fixed;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 550px;
    min-width: 550px;
  }
 
  .start-pos {
	  font-family: Encode Medium, sans-serif;
	  font-size:15px;
    text-align: center;
    padding-top: 0px;
	  color:#000000;
    width: 40px;
    overflow: hidden;
    table-layout: fixed;
  }
  
  .start-name {
	  text-align:left;
	  padding-top:3px;
	  padding-left:7px;
	  white-space:nowrap;
	  font-weight:normal;
    table-layout: fixed;
    width: 560px;
    overflow: hidden;
  }
  
  .start-club0 {
	  width:100%;
	  text-align:left;
	  font-style:normal;
	  font-family: Encode Light, sans-serif;
	  padding-left:7px;
	  padding-bottom:3px;
	  white-space:nowrap;
    table-layout: fixed;
    width: 560px;
    overflow: hidden;
  }
  .start-club1 {
	  width:100%;
	  text-align:left;
	  font-style:normal;
	  font-family: Encode Light, sans-serif;
	  padding-left:7px;
	  padding-bottom:3px;
	  white-space:nowrap;
    table-layout: fixed;
    width: 540px;
    background-color: #f6f6f6;
  }

  .scores-routine {
    font-family: Encode Medium, sans-serif;
	  text-align:center;
	  width:50px;
	  padding-top:5px;
	  padding-left:0px;
  }
  
  .scores-routine2 {
	  text-align:center;
	  padding-left:0px;
	  font-family: Encode Light, sans-serif;
	  font-size:13px;

  }

  .scores-flight {
	  text-align:left;
	  padding-left:5px;
	  font-family: Encode Medium, sans-serif;
	  font-size:15px;
    padding-top: 12px;
    padding-bottom: 2px;
    border-bottom: 0.1rem solid;
    border-color: #d4d4d4;
    margin-bottom: 15px;
  }
  .scores-flight-head {
	  text-align:left;
	  padding-left:5px;
	  font-family: Encode Medium, sans-serif;
	  font-size:20px;
    padding-top: 5px;
    padding-bottom: 2px;
  }

  .scores-routine3 {
	  text-align:center;
	  font-family: Encode Light, sans-serif;
	  font-size:13px;
  }

  .scores-routinevid {
    width: 30px;
    text-align: center;
    table-layout: fixed;
    overflow: hidden;
  }

  .median {
    table-layout: fixed;
    width: 300px;
    padding-left: 2px;
	  font-family: Encode Medium, sans-serif;
	  font-size:14px;
	  color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    align: center;
    margin-left:auto; 
    margin-right:auto;
  }

  .dmt-median {
    table-layout: fixed;
    width: 150px;
    padding-left: 2px;
	  font-family: Encode Medium, sans-serif;
	  font-size:15px;
	  color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    align: center;
    margin-left:auto; 
    margin-right:auto;
  }

  .mediantitle {
	  text-align:left;
	  font-family: Encode Medium, sans-serif;
	  font-size:15px;
	  color: #000000;
    width: 100px;
 
  }
  .medianheadtitle {
	  text-align:left;
	  font-family: Encode Medium, sans-serif;
	  font-size:12px;
	  color: #000000;
    width:60px;
    table-layout: fixed;
  }
  .mediantabletitle {
	  text-align:left;
	  font-family: Encode Medium, sans-serif;
	  font-size:12px;
	  color: #000000;
    width:200px;
    table-layout: fixed;
  }
  .medianhead {
    text-align: center;
    font-family: Encode Medium, sans-serif;
	  font-size:12px;
	  color: #000000;
    width: 30px;
  }
  .medianscore {
  text-align: center;
  font-family: Encode Light, sans-serif;
  font-size:12px;
  color: #000000;
  width: 30px;
  overflow: hidden;
  }

  .total-table {
    float: left;
	  font-family: Encode Medium, sans-serif;
	  font-size:13px;
	  font-weight:normal;
	  color: #ffffff;
	  width:50%;
	  border-collapse:collapse;
	  margin-bottom:10px;
    margin-top:10px;
  }

  .round-rank-table {
    float: right;
	  font-family: Encode Medium, sans-serif;
	  font-size:13px;
	  font-weight:normal;
	  color: #ffffff;
	  width:50%;
	  border-collapse:collapse;
	  margin-bottom:10px;
    margin-top:10px;
  }

*/
  .search {
    margin-bottom: 10px;
    margin-left: 4px;
    width: 54%;
    border: 1px solid #b8b8b8;
    padding: 9px 4px 9px 45px;
    background: transparent url("../assets/search.png") no-repeat 13px;
    background-size: 20px;
    font-family: Gotham Light;
    outline: none;
    border-radius: 5px;
    font-size: 12px;
    float: left;
  }

  .filterBtns{
    width: 40%;
    float: right;
    margin-bottom: 0px;
    padding: 0px;
    text-align: right;
  }

  .filterElements {
    display: none;
 }/*
 .show {
    display: block;
 }
 .buttoncontainer {
    overflow: hidden;
 }
 .filtericon{
  font-family: Gotham Medium;
  padding: 0px;
  text-align: center;
  outline: none;
  border: none;
  vertical-align: middle;
 }*/
 .btn {
    border: none;
    font-family: Gotham Medium;
    font-size: 12px;
    outline: none;
    border-radius: 5px;
    padding: 9px 7px 9px 7px;
    margin-left: 2px;
    outline: none;
    background-color: #e8e8e8;
    vertical-align: middle;
    min-width: 25px;
    color: #000000;
 }
 .btnfilterimg {
  border: none;
  font-family: Gotham Medium;
  font-size: 12px;
  outline: none;
  border-radius: 5px;
  padding: 9px 7px 9px 7px;
  outline: none;
  background-color: none;
  vertical-align: middle;
  float: right;
}
 .btn:hover {
    background-color: rgb(194, 193, 193);
 }
 .btn.active {
    background-color: rgb(50, 50, 50);
    color: white;
 }  /*

.box {
  width: 25px;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  background-clip: padding-box;
  text-align: center;
}

.button {
  padding: 0px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 350px;
  position: relative;
  transition: all 0.2s ease-in-out;
  
}

.popup h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #333;
  font-family: Gotham Medium;
  font-size: 20px;
  font-weight: 100;
  vertical-align: middle;
}

.popup h3 {
  margin-top: 20px;
  color: #333;
  font-family: Gotham Light;
  font-weight: 100;
  font-style: italic;
  font-size: 9px;
}

.popup p {
  margin-top: 0px;
  font-family: Gotham Book;
  color: #a7a6a6;
  font-size: 13px;
  text-align: left;
  font-weight: 100;
  margin-bottom: 0px;
}

.popup .close {
  position: absolute;
  top: 2px;
  right: 10px;
  transition: all 50ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #7c7c7c;
}
.popup .close:hover {
  color: #cfcfcf;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 80%;
  }
  .popup{
    width: 80%;
  }
}

.angletable{
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

.anglevideotitle{
  text-align:center;
  vertical-align: middle;
  padding-top:19px;
  padding-left:5px;
  padding-right: 10px;
  padding-bottom: 12px;
  font-family: Gotham Book;
  font-size: 15px;
}

.anglevideoname{
  text-align:center;
  vertical-align: middle;
  padding-top:7px;
  padding-left:9px;
  padding-right: 9px;
  padding-bottom: 7px;
  font-family: Gotham Bold;
  background-color: #bcbbbb;
  border-collapse: collapse;
  border: none;
  line-height: 90%;
  max-width: 40px;
}

.anglevideoa{
  text-align:center;
  vertical-align: middle;
  padding-top:10px;
  padding-left:14px;
  padding-right: 12px;
  padding-bottom: 9px;
  font-family: Gotham Bold;
  background-color: #e0e0e0;
  border-collapse: collapse;
  border: none;
  line-height: 90%;
  table-layout: fixed;
  width: 40px;
  max-width: 40px;
}
.anglevideob{
  text-align:center;
  vertical-align: middle;
  padding-top:10px;
  padding-left:0px;
  padding-right: 7px;
  padding-bottom: 9px;
  font-family: Gotham Bold;
  background-color: #e0e0e0;
  border-collapse: collapse;
  border: none;
  line-height: 90%;
  table-layout: fixed;
  width: 40px;
  max-width: 40px;
}

.anglespace{
  text-align:center;
  vertical-align: middle;
  padding-top:5px;
  padding-left:5px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-family: Gotham Light;
  word-wrap: none;
  font-size: 20px;
}

  .scores-round {
	  text-align:left;
	  padding:5px;
	  white-space: nowrap;
	  background-color:#292929;
  }

  .scores-roundrank {
	  text-align:right;
    float: right;
	  padding:5px;
	  white-space: nowrap;
	  background-color:#2547cf;
  }
  
  .scores-tri-Tot {
	  text-align:right;
	  padding:5px;
	  background-color:#292929;
	  font-family: Encode Medium, sans-serif;
  }

  .scores-roundrank-tot {
	  text-align:right;
	  padding:5px 10px 5px 5px;
	  background-color:#2547cf;
	  font-family: Encode Medium, sans-serif;
  }

  .scores-roundfin {
	  text-align:left;
	  padding:5px;
	  background-color:#2b2b2b;
  }
  
  .scores-tri-Totfin {
	  text-align:right;
	  padding:5px;
	  background-color:#2b2b2b;
	  font-family: Encode Medium, sans-serif;
  }
  .scores-tri-set-E {
	  text-align:center;
	  padding-top:5px;
	  padding-left:5px;
  }
  .scores-median-select {
	  text-align:left;
	  padding-top:5px;
    width: 20px;
    table-layout: fixed;
  }
  .scores-tri-medians {
	  column-span: all;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
  }
  .scores-dmt-medians {
	  column-span: all;
  }
  .scores-tri-set-H {
	  text-align:center;
	  padding-top:5px;
	  padding-left:5px;
  }
  .scores-tri-set-ET {
	  text-align:center;
	  padding-top:5px;
	  padding-right:5px; padding-left:5px;
  }
  .scores-tri-set-D {
	  text-align:center;
	  padding-top:5px;
	  padding-right:5px; padding-left:5px;
  }
  .scores-tri-set-P {
	  text-align:center;
	  padding-top:5px;
  }
  
  .scores-tri-set-ToF {
	  text-align:center;
	  padding-top:5px;
	  padding-right:5px; padding-left:5px;
  }
  
  .scores-tri-set-Tot {
	  text-align:center;
	  padding-top:5px;
	  padding-left:5px;
  }

  .scores-tri-vid {
	  text-align:center;
	  padding-top:5px;
	  padding-left:0px;
    width: 40px;

  }
  
  .scores-tri-vol-E {
	  text-align:center;
	  padding-right:5px; padding-left:5px;	
  }
  .scores-tri-vol-ET {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  .scores-tri-vol-D {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  .scores-tri-vol-P {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  
  .scores-tri-vol-ToF {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  
  .scores-tri-vol-Tot {
	  text-align:center;
	  padding-left:5px;
  }
  
  .scores-tri-fin-E {
	  text-align:center;
	  padding-right:5px; 
    padding-left:5px;
  }
  .scores-tri-fin-H {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  .scores-tri-fin-E1 {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  .scores-tri-fin-ET {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  .scores-tri-fin-D {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  .scores-tri-fin-P {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  .scores-tri-fin-ToF {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  
  .scores-tri-fin-Tot {
	  text-align:center;
	  padding-left:5px;
  }
  
  .scores-trs-set-E {
	  text-align:center;
	  padding-top:5px;
	  padding-right:5px; padding-left:5px;
	  
  }
  .scores-trs-set-ET {
	  text-align:center;
	  padding-top:5px;
	  padding-right:5px; padding-left:5px;
  }
  .scores-trs-set-H {
	  text-align:center;
	  padding-top:5px;
	  padding-right:5px; padding-left:5px;
  }
  .scores-trs-set-D {
	  text-align:center;
	  padding-top:5px;
	  padding-right:5px; padding-left:5px;
  }
  .scores-trs-set-P {
	  text-align:center;
	  padding-top:5px;
	  padding-right:5px; padding-left:5px;
  }
  
  .scores-trs-set-S {
	  text-align:center;
	  padding-top:5px;
	  padding-right:5px; padding-left:5px;
  }
  
  .scores-trs-set-Tot {
	  text-align:center;
	  padding-right:5px; padding-left:5px;		
  }
  
  .scores-trs-vol-E {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  .scores-trs-vol-ET {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  
  }
  .scores-trs-vol-H {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  .scores-trs-vol-D {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  .scores-trs-vol-P {
	  text-align:center;
	  padding-top:5px;
	  padding-right:5px; padding-left:5px;
  }
  
  
  .scores-trs-vol-S {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  
  .scores-trs-vol-Tot {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  
  }
  
  .scores-trs-fin-E {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  .scores-trs-fin-E1 {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  .scores-trs-fin-ET {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  .scores-trs-fin-H {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  .scores-trs-fin-D {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  
  .scores-trs-fin-S {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  
  .scores-trs-fin-Tot {
	  text-align:center;
	  padding-right:5px; padding-left:5px;
  }
  .scores-dmt-p3-top {
	  text-align:center;
	  padding-top:3px;
  }
  
  .scores-dmt-p3 {
	  text-align:center;
	  padding-top:3px;
  }
  
  .scores-dmt-p3-pentop {
	  text-align:center;
	  padding-top:3px;
  }
  
  .scores-dmt-p3-penbottom {
	  text-align:center;
	  padding-top:3px;
  }
  .scores-dmt-passtop {
	  text-align:center;
	  padding-top:3px;
	  font-style:italic;
  }
  .scores-dmt-pass1top {
	  text-align:center;
	  padding-top:3px;
	  font-style:italic;
  }
  .scores-dmt-passbottom {
	  text-align:center;
	  font-style: italic;
	  padding-top:3px;
  }
  .scores-dmt-pass1bottom {
	  text-align:center;
	  font-style: italic;
	  padding-top:3px;
  }
  
  .hr {
	  border-color:#ffffff;
	  color:#ffffff;
	  height: 1px;
  
  }   
  */