@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Light";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Medium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/Gotham-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #000000;
}

.panel-bodydiv {
  overflow: hidden;
  border: 0px;
  margin: 0px;
  width: 1920px;
  height: 1080px;
  position: absolute;
}

.panel-bodyscore {
  overflow: hidden;
  border: 0px;
  margin: 0px;
  width: 1920px;
  height: 1080px;
  position: absolute;
}

.panel-name1 {
  font-family: Gotham Bold;
  font-size: 90px;
  color: #ffffff;
  text-align: Left;
  padding-top: 10px;
  padding-left: 20px;
  line-height: normal;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 1870px;
  max-width: 1870px;
}

.panel-name2 {
  font-family: Gotham Book;
  font-size: 80px;
  color: #ffffff;
  text-align: Left;
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 1870px;
  max-width: 1870px;
  line-height: 90%;
}

.panel-name1trs {
  font-family: Gotham Bold;
  font-size: 85px;
  color: #ffffff;
  text-align: Left;
  width: 60%;
  padding-top: 10px;
  padding-left: 30px;
  line-height: 100%;
  text-transform: uppercase;
}
.panel-name2trs {
  font-family: Gotham Bold;
  font-size: 85px;
  color: #ffffff;
  text-align: Left;
  width: 60%;
  padding-top: 10px;
  padding-left: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.panel-latestflag {
  font-size: 45px;
  color: #ffffff;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  max-height: 110px;
  height: 110px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  float: right;
  width: 110px;
  max-width: 110px;
}

.panel-clubname {
  font-size: 42px;
  color: #ffffff;
  text-align: left;
  padding-top: 0px;
  padding-left: 25px;
  font-family: Gotham Light;
  max-height: 80px;
  height: 80px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 1870px;
  max-width: 1870px;
}

.panel-scoretable {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 95px;
  border-collapse: collapse;
  border: none;
  margin-top: 75px;
  text-align: center;
}

.panel-Exercise {
  text-align: center;
  font-family: Gotham Light, sans-serif;
  text-transform: uppercase;
  font-size: 90px;
  color: white;
  border-collapse: separate;
  padding-top: 0px;
  padding-bottom: 30px;
  border-spacing: none;
}

.panel-scoretable_header {
  text-align: center;
  font-family: Gotham Book, sans-serif;
  color: white;
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 13px;
  border-spacing: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  border: hidden;
  min-width: 230px;
  max-width: 230px;
}

.panel-scoretable_header2 {
  text-align: center;
  font-family: Gotham Book, sans-serif;
  color: white;
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 13px;
  border-spacing: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  border: hidden;
  min-width: 400px;
  max-width: 400px;
}

.panel-scoretable_header3 {
  text-align: center;
  font-family: Gotham Book, sans-serif;
  color: white;
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 13px;
  border-spacing: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  border: hidden;
  min-width: 300px;
  max-width: 300px;
}

.panel-scoretable_score {
  text-align: center;
  font-family: Gotham Light, sans-serif;
  color: white;
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  border-spacing: 0px;
  background-color: rgba(0, 0, 0, 0.2);
}

.panel-scoretable_headerblank {
  text-align: center;
  font-family: Gotham Book, sans-serif;
  color: #043f6a;
  border-collapse: separate;
  padding-top: 10px;
  padding-bottom: 10px;
  border-spacing: 0px;
  display: inline-block;
}

.panel-scoretable_scoreblank {
  font-family: Gotham Light, sans-serif;
  color: #043f6a;
  border-collapse: separate;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-spacing: 0px;
  display: inline-block;
}

.panel-scoretable_headerpen {
  text-align: center;
  font-family: Gotham Book, sans-serif;
  color: white;
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 13px;
  border-spacing: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  border: hidden;
  min-width: 20px;
  max-width: 20px;
  width: 20px;
}
.panel-scoretable_headerpen2 {
  text-align: center;
  font-family: Gotham Book, sans-serif;
  color: white;
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 13px;
  border-spacing: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  border: hidden;
  min-width: 400px;
  max-width: 400px;
}

.panel-scoretable_headerpen3 {
  text-align: center;
  font-family: Gotham Book, sans-serif;
  color: white;
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 13px;
  border-spacing: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  border: hidden;
  min-width: 300px;
  max-width: 300px;
}

.panel-scoretable_scorepen {
  text-align: center;
  font-family: Gotham Light, sans-serif;
  color: white;
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border: hidden;
  border-spacing: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}

.panel-scoretable_headertotal {
  text-align: center;
  font-family: Gotham Medium, sans-serif;
  color: white;
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 13px;
  border-spacing: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  border: hidden;
  min-width: 420px;
  max-width: 420px;
  text-transform: uppercase;
}

.panel-scoretable_scoretotal {
  text-align: center;
  font-family: Gotham Medium, sans-serif;
  color: white;
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border: hidden;
  border-spacing: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.transition-container {
  position: relative;
}

.panel-ranktable {
  float: left;
  position: absolute;
  top: 920px;
  text-align: left;
  font-size: 120px;
  border-collapse: separate;
  border-spacing: 0px;
  table-layout: auto;
  z-index: 99;
}

.panel-holding-time {
  float: left;
  position: absolute;
  top: 937px;
  left: 26%;
  text-align: left;
  color: #ffffff;
  font-family: Gotham Light, sans-serif;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 100;
}

.panel-holding-panel-title {
  float: left;
  position: absolute;
  top: 937px;
  left: 2%;
  text-align: left;
  color: #ffffff;
  font-family: Gotham Medium, sans-serif;
  text-transform: uppercase;
  font-size: 90px;
}

.panel-latestnameclub {
  background-color: rgba(228, 228, 228, 0.08);
  table-layout: auto;
}

.panel-ranktable_header {
  text-align: left;
  font-family: Gotham Light, sans-serif;
  color: white;
  border-collapse: separate;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 20px;
  border-spacing: 0px;
  text-transform: uppercase;
}

.panel-ranktable_number {
  text-align: left;
  font-family: Gotham Bold, sans-serif;
  color: white;
  border-collapse: separate;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-spacing: 0px;
}

.panel-score-disp-page {
  overflow: hidden;
  width: 100%;
  background: url(http://10.0.0.3/bucs_bg.png) no-repeat,
    -webkit-gradient(linear, left top, left bottom, color-stop(0, #961b23), color-stop(1, #961b23));
}

.panel-results-page {
  border: 0px;
}

.panel-logo-page {
  background-color: #2f0c0c;
}

.panel-banner {
  background-color: transparent;
  margin-left: 10px;
  margin-top: 25px;
  margin-right: 30px;
  margin-bottom: 5px;
  padding: 0px;
  align: right;
  width: 100%;
}

.panel-comp-title {
  color: #ffffff;
  font-family: Myriad Pro, sans-serif;
  text-transform: uppercase;
  font-size: 90px;
  text-align: center;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #202020;
  width: 370px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 30px 0px #320101;
  border: 0px;
}
.panel-comp-group-icon {
  border-radius: 3px;
  width: 300px;
  height: 130px;
  color: #ffffff;
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  table-layout: fixed;
}

.panel-span {
  text-align: left;
  color: #ffffff;
  font-family: Gotham Light, sans-serif;
  text-transform: uppercase;
  font-size: 90px;
}

.panel-span2 {
  text-align: left;
  color: #ffffff;
  font-family: Gotham Book, sans-serif;
  text-transform: uppercase;
}

.panel-span3 {
  text-align: left;
  color: #ffffff;
  font-family: Gotham Book, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
}

.panel-holding-next,
.panel-holding-on {
  float: left;
  position: fixed;
  top: 40px;
  left: 0%;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: #ffffff;
  font-family: Gotham Book, sans-serif;
  text-transform: uppercase;
  font-size: 100px;
  background-color: #000000;
  box-shadow: 3px 8px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 120;
}

.panel-holding-empty {
  margin-top: 185px;
  left: auto;
  right: auto;
  position: auto;
  text-align: center;
}

.panel-statuslabel {
  float: right;
  position: fixed;
  top: 735px;
  right: 25%;
  text-align: center;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 15px;
  width: 240px;
  z-index: 99;
  color: #ffffff;
  font-family: Gotham Light;
  text-transform: uppercase;
  font-size: 40px;
  background-color: #000000;
  -webkit-transform: rotate(270deg);
}

.panel-holding-statusgo {
  float: right;
  position: fixed;
  top: 646px;
  right: 0%;
  text-align: center;
  height: 178px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 35px;
  padding-bottom: 25px;
  width: 555px;
  z-index: 99;
  color: #ffffff;
  font-family: Gotham Bold;
  font-size: 140px;
  background-color: #268f30;
  box-shadow: 3px 8px 5px 0px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.panel-holding-statuswait {
  float: right;
  position: fixed;
  top: 646px;
  right: 0%;
  text-align: center;
  height: 178px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 35px;
  padding-bottom: 25px;
  width: 555px;
  z-index: 99;
  color: #ffffff;
  font-family: Gotham Bold;
  font-size: 140px;
  background-color: #dfaa2e;
  box-shadow: 3px 8px 5px 0px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.panel-namebg1 {
  position: fixed;
  top: 197px;
  left: 0%;
  right: 0%;
  text-align: left;
  height: 370px;
  width: 100%;
  overflow: hidden;
  padding: 30px;
  color: #ffffff;
  background-color: rgba(228, 228, 228, 0.1);
  line-height: normal;
}

.panel-holding-surname {
  text-align: left;
  font-family: Gotham Bold, sans-serif;
  text-transform: uppercase;
  font-size: 140px;
  padding-top: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 1750px;
  max-height: 130px;
  line-height: 100%;
}

.panel-holding-forename {
  text-align: left;
  font-family: Gotham Book, sans-serif;
  text-transform: none;
  font-size: 130px;
  padding-top: 0px;
  padding-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 1850px;
  max-height: 150px;
}

.panel-holding-name1trs {
  text-align: left;
  font-family: Gotham Bold, sans-serif;
  text-transform: uppercase;
  font-size: 125px;
  padding-top: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 1750px;
  max-height: 130px;
  line-height: 100%;
}

.panel-holding-name2trs {
  text-align: left;
  font-family: Gotham Bold, sans-serif;
  text-transform: uppercase;
  font-size: 125px;
  padding-top: 0px;
  padding-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 1850px;
  max-height: 120px;
}

.panel-holding-flag {
  font-family: Gotham Light, sans-serif;
  font-size: 50px;
  padding-top: 240px;
  padding-right: 15px;
  text-transform: none;
  text-overflow: ellipsis;
  overflow: hidden;
  float: right;
  z-index: 999;
}

.panel-holding-club {
  text-align: left;
  font-family: Gotham Light, sans-serif;
  font-size: 70px;
  padding-top: 20px;
  padding-left: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 1850px;
  max-height: 130px;
}

.panel-catbg1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 140px;
  border: 0px;
  width: 65%;
  border-collapse: collapse;
  -webkit-transform: rotate(0deg);
  position: absolute;
  top: 690px;
  z-index: 99;
}

.panel-holding-category {
  text-align: center;
  padding-top: 0px;
  font-family: Gotham Light, sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: middle;
  padding: 20px;
}

.panel-holding-panel-control {
  color: #ffffff;
  font-family: Myriad Pro, sans-serif;
  text-transform: uppercase;
  font-size: 90px;
  text-align: center;
  padding-top: 20px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  border-collapse: collapse;
  width: 100%;
}

.panel-holding-panel-bottom {
  color: #ffffff;
  font-family: Myriad Pro, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90px;
  text-align: center;
  padding-top: 630px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  border-collapse: collapse;
  width: 100%;
}

.panel-pm-panel {
  color: #ffffff;
  background-color: #2c2c2c;
  font-family: Myriad Pro, sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 30px;
  width: 400px;
  overflow: hidden;
  max-width: 300px;
  margin: auto;
  vertical-align: middle;
}
.panel-pm-panelg {
  color: #ffffff;
  background-color: #228b22;
  font-family: Myriad Pro, sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 30px;
  width: 400px;
  overflow: hidden;
  max-width: 300px;
  margin: auto;
  vertical-align: middle;
}
.panel-pm-td {
  color: #ffffff;
  background-color: #000000;
  font-family: Myriad Pro, sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  width: 400px;
  height: 40px;
  overflow: hidden;
  max-width: 300px;
  margin: auto;
  vertical-align: middle;
}
#video-background {
  /*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.panel-comp-venue {
  color: #ffffff;
  font-family: Myriad Pro, sans-serif;
  font-size: 65px;
  text-align: left;
  padding-right: 20px;
  border: 0px;
}

.panel-scores-frame {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #961b23),
    color-stop(1, #961b23)
  );
  width: 98%;
}

.panel-slist-iframe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1000;
  border: 0;
}

.panel-comp-group {
  border-radius: 3px;
  width: 1920px;
  height: 100px;
  color: #ffffff;
  background-color: #1a1a1a;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  font-family: Myriad Pro, sans-serif;
  text-transform: uppercase;
  font-size: 75px;
  text-align: center;
  table-layout: fixed;
  line-height: 100%;
  align: right;
  /*-webkit-box-shadow: 15px 15px 30px 0px #320101;*/
  /*border: 2px solid #a36f70;*/
}

.panel-comp-group-icon {
  border-radius: 3px;
  width: 200px;
  height: 100px;
  color: #000000;
  background-size: 200px;
  background-position: center;
  padding: 0px;
  table-layout: fixed;
  align: center;
  font-size: 75px;
  text-align: center;
  font-family: Myriad Pro, sans-serif;
  font-weight: bold;
}
.panel-results-logo {
  padding-right: 0px;
  align: left;
}
.panel-horizontal-rule {
  height: 0px;
  background-color: #ffffff;
}

.panel-scores-table {
  font-family: Myriad Pro, sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
  width: 100%;
  border-collapse: collapse;
  margin-left: 9px;
  margin-top: 15px;
  line-height: 100%;
}
.panel-space {
  height: 5px;
  width: 25px;
}
.panel-gap {
  width: 5px;
}
.panel-announce-table {
  font-family: Myriad Pro, sans-serif;
  font-size: 10px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.panel-announce-scores {
  font-family: Myriad Pro, sans-serif;
  font-size: 12px;
  color: #ffffff;
  border-collapse: collapse;
  width: 100%;
}

.panel-announce-iframe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0px white solid;
}

.panel-highlight {
}

.panel-lowlight {
}
.panel-space {
  height: 5px;
}
.panel-scores-pos {
  text-align: center;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  white-space: nowrap;
  background-color: #ba282e;
  border-radius: 3px 0 0px 3px;
  font-weight: bold;
}

.panel-scores-name {
  text-align: left;
  border-color: #a0a0a0;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 10px;
  white-space: nowrap;
  background-color: #6d1a1c;
  width: 1px;
  line-height: 100%;
}

.panel-scores-club {
  text-align: left;
  font-style: normal;
  font-family: Myriad Pro, sans-serif;
  font-weight: bold;
  border-color: #a0a0a0;
  padding-right: 5px;
  padding-left: 10px;
  padding-bottom: 0px;
  padding-top: 5px;
  white-space: nowrap;
  background-color: #6d1a1c;
  line-height: 100%;
}

.panel-scores-tri-set-E {
  text-align: center;
  border-color: #a0a0a0;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  white-space: nowrap;
  background-color: #6d1a1c;
  line-height: 100%;
}
.panel-scores-tri-set-ET {
  text-align: center;
  border-top: thin solid;
  border-color: #adadad;
  padding-top: 10px;
}
.panel-scores-tri-set-D {
  text-align: center;
  border-top: thin solid;
  border-color: #adadad;
  padding-top: 10px;
}
.panel-scores-tri-set-P {
  text-align: center;
  border-top: thin solid;
  border-color: #adadad;
  padding-top: 5px;
  border-right: thin solid;
}

.panel-scores-tri-set-ToF {
  text-align: center;
  border-top: thin solid;
  border-color: #adadad;
  padding-top: 5px;
}

.panel-scores-tri-set-Tot {
  text-align: center;
  padding-top: 10px;
  padding-right: 0px;
  padding-left: 0px;
  white-space: nowrap;
  background-color: #ba282e;
  font-weight: bold;
  line-height: 100%;
}

.panel-scores-tri-vol-E {
  text-align: center;
  border-color: #a0a0a0;
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
  white-space: nowrap;
  background-color: #6d1a1c;
  line-height: 100%;
}
.panel-scores-tri-vol-ET {
  text-align: center;
  border-color: #adadad;
}
.panel-scores-tri-vol-D {
  text-align: center;
}
.panel-scores-tri-vol-P {
  text-align: center;
  border-color: #adadad;
  border-right: thin solid;
}

.panel-scores-tri-vol-ToF {
  text-align: center;
}

.panel-scores-tri-vol-Tot {
  text-align: center;
  padding-top: 5px;
  padding-right: 0px;
  padding-left: 0px;
  white-space: nowrap;
  background-color: #ba282e;
  font-weight: bold;
  line-height: 100%;
}

.panel-scores-tri-fin-E {
  text-align: center;
}
.panel-scores-tri-fin-E1 {
  text-align: center;
}
.panel-scores-tri-fin-ET {
  text-align: center;
  border-color: #adadad;
}
.panel-scores-tri-fin-D {
  text-align: center;
}
.panel-scores-tri-fin-P {
  text-align: center;
  border-color: #adadad;
  border-right: thin solid;
}
.panel-scores-tri-fin-ToF {
  text-align: center;
}

.panel-scores-tri-fin-Tot {
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 10px;
  white-space: nowrap;
  background-color: #1c1c1c;
  border-color: #a0a0a0;
  border-radius: 0px 3px 0px 0px;
  font-weight: bold;
  line-height: 100%;
}
.panel-scores-tri-fin-Totb {
  text-align: center;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  white-space: nowrap;
  background-color: #1c1c1c;
  border-color: #a0a0a0;
  border-radius: 0px 0px 3px 0px;
  font-weight: bold;
  line-height: 100%;
}
.panel-scores-tri-fin-Totboth {
  text-align: center;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 10px;
  white-space: nowrap;
  background-color: #1c1c1c;
  border-color: #a0a0a0;
  border-radius: 0px 3px 3px 0px;
  font-weight: bold;
  line-height: 100%;
}
.panel-scores-trs-fin-Tot {
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
  white-space: nowrap;
  background-color: #1c1c1c;
  border-color: #a0a0a0;
  border-radius: 0px 3px 0px 0px;
  font-weight: bold;
  line-height: 100%;
}
.panel-scores-trs-fin-Totb {
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
  white-space: nowrap;
  background-color: #1c1c1c;
  border-color: #a0a0a0;
  border-radius: 0px 0px 3px 0px;
  font-weight: bold;
  line-height: 100%;
}
.panel-scores-dmt-fin-Tot {
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 15px;
  padding-bottom: 5px;
  white-space: nowrap;
  background-color: #1c1c1c;
  border-color: #a0a0a0;
  border-radius: 0px 3px 3px 0px;
  font-weight: bold;
  line-height: 100%;
}
.panel-scores-dmt-set-Tot {
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 10px;
  white-space: nowrap;
  background-color: #2a2a2a;
  font-weight: bold;
  line-height: 100%;
}
.panel-scores-dmt-vol-Tot {
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 5px;
  white-space: nowrap;
  background-color: #2a2a2a;
  font-weight: bold;
  line-height: 100%;
}
.panel-scores-trs-set-E {
  text-align: center;
  border-top: thin solid;
  border-color: #adadad;
  padding-top: 5px;
  line-height: 100%;
}
.panel-scores-trs-set-ET {
  text-align: center;
  border-top: thin solid;
  border-color: #adadad;
  padding-top: 5px;
}
.panel-scores-trs-set-H {
  text-align: center;
  border-top: thin solid;
  border-color: #adadad;
  padding-top: 5px;
}
.panel-scores-trs-set-D {
  text-align: center;
  border-top: thin solid;
  border-color: #adadad;
  padding-top: 5px;
}
.panel-scores-trs-set-P {
  text-align: center;
  border-top: thin solid;
  border-color: #adadad;
  padding-top: 5px;
}

.panel-scores-trs-set-S {
  text-align: center;
  border-top: thin solid;
  border-color: #adadad;
  padding-top: 5px;
}

.panel-scores-trs-set-Tot {
  text-align: center;
  border-top: thin solid;
  border-color: #adadad;
  padding-top: 5px;
  padding-right: 35px;
  padding-left: 35px;
  white-space: nowrap;
  width: 1px;
}

.panel-scores-trs-vol-E {
  text-align: center;
}
.panel-scores-trs-vol-ET {
  text-align: center;
  border-color: #adadad;
}
.panel-scores-trs-vol-H {
  text-align: center;
}
.panel-scores-trs-vol-D {
  text-align: center;
}
.panel-scores-trs-vol-P {
  text-align: center;
  border-color: #adadad;
  padding-top: 5px;
}

.panel-scores-trs-vol-S {
  text-align: center;
}

.panel-scores-trs-vol-Tot {
  text-align: center;
  padding-right: 35px;
  padding-left: 35px;
  white-space: nowrap;
  width: 1px;
}

.panel-scores-trs-fin-E {
  text-align: center;
}
.panel-scores-trs-fin-E1 {
  text-align: center;
}
.panel-scores-trs-fin-ET {
  text-align: center;
}
.panel-scores-trs-fin-H {
  text-align: center;
}
.panel-scores-trs-fin-D {
  text-align: center;
}

.panel-scores-trs-fin-S {
  text-align: center;
}
