
@font-face {
  font-family: 'Myriad Pro';
  src: url('Myriad.eot?#iefix') format('embedded-opentype'),  url('Myriad.woff') format('woff'), url('Myriad.ttf')  format('truetype'), url('Myriad.svg#Myriad') format('svg');
  font-weight: normal;
  font-style: normal;
}
